body {
    background-color: #232323;
}

.fade {
    transition-delay: 0.5s;
    opacity: 0;
}

.header {
    color:white;
    text-transform: uppercase;
}

#clue {
    color: white;
}
.square {
    background-color: RGB(255, 0, 255);
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25px;
}

#container {
    max-width: 600px;
    margin: 5px auto;
}

.col {
    padding: 0;
}